html {
    height:100%;
}

body {
    text-align: center;
    margin: 0px;
    background-color: rgb(235, 232, 232);
    height: 100%;
}

.bgImg {
    background-image: url("../images/background2.jpg");
    min-height: 100%;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 662px;
}

h1, h2, h3, h4, h5, h6, thead {
    font-family: 'Prosto One', cursive;
}

p, tr {
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    margin: 2px;
}

.title-bar {
    background-color: rgb(165, 42, 42);
    color: white;
    padding-left: 5px;
    display: flex;
    height: 80px;
}

.name-tag {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: flex-start;
}

.links {
    text-align: right;
    width: 40%;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.index-links {
    padding: 20px;
}

.main {
    color: white;
    min-width: 60%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 83%;
}

.link-one {
    text-decoration-line: none;
}

.link-two {
    color: white;
    text-decoration-line: none;
    width: 20%;
}

.link-three {
    color: white;
    text-decoration-line: none;
}

.link-four {
    color: white;
    text-decoration-line: none;
}


a:hover {
    text-decoration-line: none;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5% 10%;
}

.ride {
    width: 25%;
    margin: 0% 2%;
    color: rgb(165, 42, 42);
    border-radius: 5px;
}

.ride-header {
    background-color: rgb(165, 42, 42);
    color: white;
    margin: 0px;
    padding-bottom: 1px;
}

.ride-body {
    background-color: white;
    margin: 0px;
    padding-bottom: 5px;
    box-shadow: 1px 1px 25px 0px rgba(0,0,0,.3);
}

.form-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.form {
    text-align: left;
    color: rgb(165, 42, 42);
    padding: 20px 50px 30px 30px;
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 5px;
    box-shadow: 1px 1px 25px 0px rgba(0,0,0,.3);
    background-color: rgb(235, 232, 232);
}

.form-unit {
    margin: 20px 0px;
}

.submit {
    width: 100%;
    background-color: rgb(165, 42, 42);
    height: 40px;
    border-radius: 10px;
    color: white;
    margin-top: 30px;
    font-size: large;
}

.action {
    width: 40%;
    margin-top: 10px;
}

.request {
    width: 80%;
    margin-top: 10px;
}

input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    padding: 0px 10px 0px;
    border: 1px solid rgb(199, 196, 196);
}

.submit:hover {
    cursor: pointer;
    color: rgb(199, 196, 196);
}

.header {
    display: flex;
    background-color: rgb(165, 42, 42);
    color: white;
    justify-content: space-around;
    height: 80px;
}

.active {
    background-color: rgb(199, 196, 196);
    color: rgb(165, 42, 42);
    width: 20%;
}

.sub-header {
    padding-top: 20px;
}

table {
    min-width: 80%;
    background-color: white;
}

thead, tr:nth-child(even) {
    background-color: rgb(199, 196, 196);
}

.profile {
    display: flex;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
}

.profile-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.side-column {
    background-color: rgb(199, 196, 196);
    padding: 20px;
    display: flex;
    width: 70%;
    align-self: center;
}

.avatar {
    padding-right: 20px;
}

.user-info {
    text-align: left;
    color: rgb(165, 42, 42);
}

@media only screen and (max-width: 1200px) {
    .request {
        height: 50px;
    }
}

@media only screen and (max-width: 900px) {
    .ride {
        width: 40%;
    }
}

@media only screen and (max-width: 600px) {
    .title-bar {
        height: 150px;
    }

    .name-tag {
        width: 40%;
    }

    .links {
        width: 60%;
    }

    .link-three {
        width: 50%;
    }

    .form {
        width: 100%;
    }

    .profile {
        margin-top: 50px;
    }

    .main-column {
        width: 100%;
    }

    .side-column {
        width: 90%;
    }

    .profile-container {
        flex-direction: column;
        width: 100%;
    }

    .ride {
        width: 80%;
    }
}

@media only screen and (max-width: 520px) {
    .side-column {
        flex-direction: column;
    }
}

@media only screen and (max-width: 400px) {
    .header {
        flex-direction: column;
        height: 300px;
    }

    .link-two, .active {
        width: 100%
    }

    .ride {
        width: 100%;
    }
}