body {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
}

.title-bar {
    background-color: rgb(165, 42, 42);
    color: white;
    padding: 10px;
    display: flex;
}

.name-tag {
    display: block;
}

.links {
    text-align: right;
    padding-left: 800px;
}

.main {
    color: rgb(165, 42, 42);
    min-width: 60%;
}

.link-one {
    color: rgb(165, 42, 42);
    text-decoration-line: none;
}

.link-two {
    color: white;
    text-decoration-line: none;
    padding-left: 50px;
}

a:hover {
    text-decoration-line: none;
    cursor: pointer;
}

.form {
    text-align: left;
    margin: 10px 550px 10px;
    color: rgb(165, 42, 42);
    min-width: 15%;
    background-color: rgb(199, 196, 196);
    padding: 20px 50px 30px 30px;
}

.form-unit {
    padding-bottom: 10px;
}

.submit {
    width: 100%;
    background-color: rgb(165, 42, 42);
    height: 30px;
    border-radius: 10px;
    color: white;
    margin-top: 30px;
}

.action {
    width: 30%;
    margin-top: 10px;
}

.request {
    width: 80%;
    margin-top: 10px;
}

input {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    padding: 5px;
}

.submit:hover {
    cursor: pointer;
    color: rgb(199, 196, 196);
}

.header {
    display: flex;
    background-color: rgb(165, 42, 42);
    color: white;
}

.sub-header {
    min-width: 16.66%;
}

.active {
    background-color: rgb(199, 196, 196);
    color: rgb(165, 42, 42);
}

table {
    min-width: 100%;
}

thead, tr:nth-child(even) {
    background-color: rgb(199, 196, 196);
}

.profile {
    display: flex;
}

.main-column {
    min-width: 80%;
}

.side-column {
    min-width: 20%;
    background-color: rgb(199, 196, 196);
}