body {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
}

.title-bar {
    background-color: rgb(165, 42, 42);
    color: white;
    padding: 10px;
}

.main {
    color: rgb(165, 42, 42);
}

a {
    color: rgb(165, 42, 42);
    text-decoration-line: none;
}

a:hover {
    text-decoration-line: underline;
}

.form {
    text-align: left;
    margin: 10px 600px 10px;
    color: rgb(165, 42, 42);
    min-width: 15%;
    background-color: rgb(199, 196, 196);
    padding: 10px;
}

.form-unit {
    padding-bottom: 10px;
}

.submit {
    width: 100%;
    background-color: rgb(165, 42, 42);
    height: 30px;
    border-radius: 10px;
    color: white;
    margin-top: 30px;
}

.header {
    display: flex;
    background-color: rgb(165, 42, 42);
    color: white;
}

.sub-header {
    min-width: 25%;
}

table {
    min-width: 100%;
}

thead {
    background-color: rgb(199, 196, 196);
}